
@font-face {
	font-family: "Outfit", sans-serif;
	src: url("Outfit.woff");
}

body {
	font-family: "Outfit", sans-serif;
	background-color: #d6e2f0;
	display: flex;
	width: 1440px;
	min-height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.attribution { 
	font-size: 0.8em; 
	text-align: center; 
	margin-top: 1em;
}


 .attribution a { 
 	color: #3e52a3; 
 }

.cartao {
	width: 300px;
	padding: 1.2em ;
	background: white;
	border-radius: 1.2em;
}

.imagemQr img {
	width: 300px;
	border-radius: 0.7em;
	
}

.sessaoDescricao {
	padding: 0 1.3em;
}

.sessaoDescricao h2 {
	font-size: 1.3em;
	text-align: center;
}

.sessaoDescricao p {
	font-size: 0.9em;
	color: #7b879d ;
	text-align: center;
	padding-bottom: 10px;
}